mixin footer(options)

    footer.footer.pt-10.pb-5.mt-auto(class=options.footerBg, class=options.footerStyle)

        if block
            block
        else
            .container
                .row
                    .col-lg-3
                        .footer-brand
                            | Jonayah Marie Jackson
                        .mb-3 Front-End Web Developer
                        .icon-list-social.mb-5
                            a.icon-list-social-link.linkedin(href="https://www.linkedin.com/in/jonayahmjackson/" target="_blank" rel="noopener noreferrer")
                                i.fab.fa-linkedin
                            a.icon-list-social-link.github(href="https://github.com/JonayahJ" target="_blank" rel="noopener noreferrer")
                                i.fab.fa-github

                    .col-lg-9
                        .row
                            .col-lg-3.col-md-6.mb-5.mb-lg-0
                                .text-uppercase-expanded.text-xs.mb-4 

                            .col-lg-3.col-md-6.mb-5.mb-lg-0
                                .text-uppercase-expanded.text-xs.mb-4 

                            .col-lg-3.col-md-6.mb-5.mb-md-0
                                .text-uppercase-expanded.text-xs.mb-4 

                            .col-lg-3.col-md-6
                                .text-uppercase-expanded.small.mb-2 Contact Jo 
                                .mb-3 By text or email: 
                                    a(href='tel:3474231856') (347) 423-1856 
                                    a(href='mailto:jonayah@thinkhalcyon.com') jonayah@thinkhalcyon.com
