extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'DiaBeatThis! Project'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover py-15',
        pageHeaderBgImg: 'background-image: url("assets/img/DiaBeatThisLandingScreen.png")',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .my-15.py-lg-10
    //- * * * * * * * * *
    //- * * Portfolio * *
    //- * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.justify-content-center
                .col-lg-8
                    .text-center
                        .col-lg-8
                    h1 DiaBeatThis!
                    p.lead A simple app that puts the tools to help manage Type 2 Diabetes into the palm of your hands.  
                    a.btn.btn-teal.btn-marketing.rounded-pill.lift.lift-sm(href="https://dia-beat-this-final-project.herokuapp.com/" target="_blank" rel="noopener noreferrer") Live Preview
                    | &nbsp;
                    a.btn.btn-outline-dark.btn-marketing.rounded-pill(href="https://github.com/camrynnesullivan/dia-beat-this" target="_blank" rel="noopener noreferrer") Github Repo
                    
                    hr

                    h2 More than 100 million adults live with Diabetes or are prediabetic. 
                    p It is so prevalent amongst the American population that it is the 7th leading cause of death, according to the CDC.  
                    p Many of our friends, family, and coworkers are living with this condition; and during this pandemic, it is a precondition that can have dangerous repercussions.  That is why we wanted to create an app that would help our loved ones beat this diagnosis.

                
                .col-lg-10
                    img.img-fluid.rounded-lg.shadow.my-5(src='assets/img/DiaBeatThis-homepage.png')

                .col-lg-10
                    .card-columns.card-columns-case-study.mb-5
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/DiaBeatThis/Resources.png')
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/DiaBeatThis/CalorySnapshot.png')
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/DiaBeatThis/CareSchedule.png')
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/DiaBeatThis/BloodSugarTracker.png') 
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/DiaBeatThis/Exercise.png')    

                    .text-center
                        a.btn.btn-transparent-dark.btn-marketing.rounded-pill(href='portfolio.html') Back to Projects

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })