extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Earthworks Acupuncture Project'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover py-15',
        pageHeaderBgImg: 'background-image: url("assets/img/EAscreenshot.png")',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .my-15.py-lg-10

    //- * * * * * * * * *
    //- * * Portfolio * *
    //- * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.justify-content-center
                .col-lg-8
                    .text-center
                        .col-lg-8
                    h1 Earthworks Acupuncture
                    p.lead An advocate for transforming alternative healthcare to become affordable and accesible for all.
                    a.btn.btn-teal.btn-marketing.rounded-pill.lift.lift-sm(href="https://www.earthworksacu.org" target="_blank" rel="noopener noreferrer") Live Preview
                    hr
                    p Founder and CEO, Joy Rosa, was in need a website redesign for her acupuncture business that left a lasting impression on her clients and the communities that she serves. Joy needed a central hub for her services, a place to house all of her blog posts, a site to sell her wares, and an advertising machine to show off her videos and reach new clients.  We worked hand in hand with Joy to meet her needs and create a beautiful, yet functional website that she could be proud to show her friends, family, and clients.
                    hr 
                    <br />
                .col-lg-10
                    .card-columns.card-columns-case-study.mb-5
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/EA/EA-item.jpg')
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/EA/Herbal-Consultations-Thumbnail.jpg')
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/EA/Benefits-of-Qi-Gong-Thumbnail.jpg')
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/EA/Earthworks-50.jpg')    

                    .text-center
                        a.btn.btn-transparent-dark.btn-marketing.rounded-pill(href='portfolio.html') Back to Projects


block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })