extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Home'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover overlay overlay-60',
        pageHeaderBgImg: 'background-image: url("assets/img/AboutJo_comp.JPG")',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: true,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .page-header-content.py-15
            .container
                .row
                    .col-xl-6.col-lg-8
                        h1.page-header-title Hi, I'm Jo.
                        p.page-header-text.mb-5 I am a Front End Web Developer looking to create beautiful and functional websites and web applications.  With experience using Squarespace and WordPress, I'm looking to use what I've learned about coding and programming to do more for my clients.
                        a.btn.btn-marketing.rounded-pill.btn-teal.lift.lift-sm(href='portfolio.html')
                            i.fas.fa-code.mr-2
                            | See Portfolio

    //- * * * * * * * * * * * * * *
    //- * * About Jo Section  * * *
    //- * * * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: true,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .container

            .text-uppercase-expanded.small.mb-2 About Jo
            hr.mt-0.mb-5

            p My name is Jonayah Marie Jackson. Everyone calls me Jo. I'm a front end web developer with a background in graphic design, project management, and data analysis/visualization in higher education. At my last position, I wore many hats, and as such, I was responsible for maintaining my team's webpages on the college's website for the better part of two years. It even led me to begin creating basic websites on popular hosting sites like Squarespace and WordPress as a freelancer. The websites that I was creating for my clients made me want to know more that just how to copy and paste random bits of code here and there.

            p Having recently earned a Certificate in Software Engineering from Columbia University, I want to use my knowledge to combine research and creativity to develop user-friendly applications and websites that center facts and learning. Because of that drive, I became known amongst the staff for beautiful visuals and data-driven deliverables for every project.


    //- * * * * * * * * * * * * * *
    //- * * Experience Section  * *
    //- * * * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: true,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .container

            .text-uppercase-expanded.small.mb-2 Experience
            hr.mt-0.mb-5

            .row.mb-5
                .col-lg-8
                    h2.mb-0 Freelance Front-End Web Developer
                    p.lead Think Halcyon, LLC
                    p For the past few years, I have been creating and maintining static sites using website builders like Squarespace and WordPress for various clients.

                .col-lg-4.text-lg-right
                    .text-blue-400.small 2017 - Present
            
            .row.mb-5
                .col-lg-8
                    h2.mb-0 Project Manager
                    p.lead Center on Culture, Race &amp; Equity (CCRE) at Bank Street College of Education
                    p As project manager, I wore many hats.  I maintained the CCRE webpages, co-facilitated professional development for educators in NY and NJ, and managed multiple research projects, which included data analysis and visualization.
                .col-lg-4.text-lg-right
                    .text-blue-400.small 2016 - 2020

            .row
                .col-lg-8
                    h2.mb-0 Program Associate
                    p.lead Early Childhood Leadership Institute at SCO/FirstStep NYC
                    p As project associate, I was responsible for designing program materials, taking all event photos, and acting as a member of the school leadership team.
                .col-lg-4.text-lg-right
                    .text-blue-400.small 2015 - 2016
                

    //- * * * * * * * * * * * * * *
    //- * * Education Section  * *
    //- * * * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: true,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .container

            .text-uppercase-expanded.small.mb-2 Education
            hr.mt-0.mb-5

            .row.mb-5
                .col-lg-8
                    h4.mb-0 Columbia University
                    p.lead Certificate of Software Engineering
                    p Learned full stack web development with a focus on the MERN Stack (Mongoose, Express, React, Node).  Known languages are HTML, CSS, and JavaScript.
                .col-lg-4.text-lg-right
                    .text-blue-400.small 2020 - 2020
            
            .row
                .col-lg-8
                    h4.mb-0 Williams College
                    p.lead Bachelor of Arts
                    p Anthropology major, Africana Studies minor, winner of the first annual Professor Ernest K. Brown Performing Arts Award
                .col-lg-4.text-lg-right
                    .text-blue-400.small 2008 - 2012


    //- * * * * * * * * * * * *
    //- * * Skills Section  * *
    //- * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: true,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container

            .text-uppercase-expanded.small.mb-2 Technical Skills
            hr.mt-0.mb-5

            .row
                .col-lg-4
                    ul.mb-0.text-gray-700
                        li HTML 5
                        li CSS 3 &amp; SCSS
                        li JavaScript &amp; JQuery
                        li Express
                        li Node
                        li MongoDB &amp; Mongoose

                .col-lg-4
                    ul.mb-0.text-gray-700
                        li React
                        li Handlebars &amp; Pug
                        li Bootstrap &amp; Material-UI
                        li Squarespace &amp; WordPress
                        li Adobe InDesign, Photoshop, &amp; Illustrator
                        //- li C# &amp; C++

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })