extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Neighborhood Quarantine Resources App'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover py-15',
        pageHeaderBgImg: 'background-image: url("assets/img/portfolio-images/NQR/XBG.png")',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .my-15.py-lg-10

    //- * * * * * * * * *
    //- * * Portfolio * *
    //- * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.justify-content-center
                .col-lg-8
                    .text-center
                        .col-lg-8
                    h1 Neighborhood Quarantine Resources App
                    p.lead Use your zip code to find nearby COVID-19 testing and free meal site locations.
                    a.btn.btn-teal.btn-marketing.rounded-pill.lift.lift-sm(href="https://hexiangliu.github.io/COVID-Project/" target="_blank" rel="noopener noreferrer") Live Preview
                    | &nbsp;
                    a.btn.btn-outline-dark.btn-marketing.rounded-pill(href="https://github.com/HexiangLiu/COVID-Project" target="_blank" rel="noopener noreferrer") Github Repo
                    hr
                    p As COVID-19 quarantine guidelines begin to relax and local businesses reopen, many New Yorkers are feeling comfortable enough to leave their homes. In order to keep our vulnerable neighbors safe and taken care of, our application helps residents locate the nearest COVID-19 testing and free meal site locations based on zip code.

                    hr 
                    <br />
                .col-lg-10
                    .card-columns.card-columns-case-study.mb-5
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/NQR/FortHamilton.png')
                        .card
                            img.img-fluid.rounded-lg(src='assets/img/portfolio-images/NQR/GramercyPark.png')

                    .text-center
                        a.btn.btn-transparent-dark.btn-marketing.rounded-pill(href='portfolio.html') Back to Projects


block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })