extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Portfolio'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-transparent',
        navbarStyle: 'navbar-dark',
        navbarBrandColor: 'text-white',
        navbarBtnColor: 'btn-teal',
        navbarContainer: 'container',
        navbarPosition: 'fixed-top'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .page-header-content
            .container.text-center
                .row.justify-content-center
                    .col-lg-8
                        h1.page-header-title.mb-3 My work
                        p.page-header-text.mb-0 A sample of some projects that I've worked on in the past year

    //- * * * * * * * * *
    //- * * Portfolio * *
    //- * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: true,
        svgBorderFill: ''
    })

        .container
            .row
                //- EA project
                .col-md-6.mb-5
                    a.card.card-portfolio.h-100(href='ea-project.html')
                        img.card-img-top(src='assets/img/EAscreenshot.png', alt='Earthworks Acupuncture homepage screenshot')
                        .card-body
                            .card-title Earthworks Acupuncture Website on Squarespace
                //- Neighborhood Quarantine Resources
                .col-md-6.mb-5
                    a.card.card-portfolio.h-100(href='nqr-project.html')
                        img.card-img-top(src='assets/img/COVIDproject.png', alt='Neighborhood Quarantine Resources Application homepage screenshot')
                        .card-body
                            .card-title Neighborhood Quarantine Resources Web Application
                //- DiaBeatThis!
                .col-md-6.mb-5
                    a.card.card-portfolio.h-100(href='diabeatthis-project.html')
                        img.card-img-top(src='assets/img/DiaBeatThisLandingScreen.png', alt='DiaBeatThis! application homepage screenshot')
                        .card-body
                            .card-title DiaBeatThis! React Application


block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })